@model ProductDetailsModel
@{
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
@if (Model.CompareProductsEnabled)
{
    <div class="compare-products">
        <button type="button" class="button-2 btn btn-default add-to-compare-list-button" data-toggle="tooltip" title="Compare Products" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;"><i class="far fa-exchange-alt"></i>@T("Products.Compare.AddToCompareList")</button>
    </div>
}