@model ProductDetailsModel
@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend">
        <button type="button" class="button-2 btn btn-default email-a-friend-button" data-toggle="tooltip" title="Email a Friend" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')"><i class="far fa-envelope"></i>@T("Products.EmailAFriend")</button>
    </div>
}
