@model LogoModel
<div class="logo">
    <a href="@Url.RouteUrl("Homepage")" itemscope itemtype="http://schema.org/Organization">
        <img itemprop="logo" title="" alt="@Model.StoreName" src="@Model.LogoPath">
    </a>
</div>