@model ProfileIndexModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Profile").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-profile-page");
}

@*page title*@
@section Breadcrumb
{
    <div class="page-title">
        <div class="container">
            <div class="content">
                <h1>@Model.ProfileTitle</h1>
            </div>
        </div>
    </div>
}

<div class="page profile-page">
    <div class="page-body">
        @{
            var selectPostsTab = Model.ForumsEnabled && Model.PagingPosts ? ".tabs( 'option', 'active', 1 )" : "";
        }
        <script asp-location="Footer">
            $(function () {
                //we use a small workaround to avoid bug with <base> tag (https://bugs.jqueryui.com/ticket/8637/)
                $.fn.__tabs = $.fn.tabs;
                $.fn.tabs = function (a, b, c, d, e, f) {
                    var base = window.location.href.replace(/#.*$/, '');
                    $('ul>li>a[href^="#"]', this).each(function () {
                        var href = $(this).attr('href');
                        $(this).attr('href', base + href);
                    });
                    $(this).__tabs(a, b, c, d, e, f);
                };
                $("#tabs").tabs()@Html.Raw(selectPostsTab);
            });
        </script>
        <div class="tabs inbox-tabs" id="tabs">
            <ul class="nav nav-tabs tabs-header" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#tabs-1" role="tab" data-toggle="tab">@T("Profile.PersonalInfo")</a></li>
                @if (Model.ForumsEnabled)
                {
                    <li class="nav-item"><a class="nav-link" href="#tabs-2" role="tab" data-toggle="tab">@T("Profile.LatestPosts")</a></li>
                }
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tabs-1" class="tab-pane in active tab-content">
                    @await Component.InvokeAsync(typeof(ProfileInfoViewComponent), new { customerProfileId = Model.CustomerProfileId })
                </div>
                @if (Model.ForumsEnabled)
                {
                    <div role="tabpanel" id="tabs-2" class="tab-pane tab-content">
                        @await Component.InvokeAsync(typeof(ProfilePostsViewComponent), new { customerProfileId = Model.CustomerProfileId, pageNumber = Model.PostsPage })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
