@model PrivateMessageIndexModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PrivateMessages").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-private-messages");
    NopHtml.AppendPageCssClassParts("html-private-messages-page");
}

@*page title*@
@section Breadcrumb
{
    <div class="page-title">
        <div class="container">
            <div class="content">
                <h1>@T("PrivateMessages.PrivateMessages")</h1>
            </div>
        </div>
    </div>
}

<div class="page private-messages private-messages-page">
    <div class="page-body">
        @{
            var selectSentTab = Model.SentItemsTabSelected ? ".tabs( 'option', 'active', 1 )" : "";
        }
        <script asp-location="Footer">
            $(function () {
                //we use a small workaround to avoid bug with <base> tag (https://bugs.jqueryui.com/ticket/8637/)
                $.fn.__tabs = $.fn.tabs;
                $.fn.tabs = function (a, b, c, d, e, f) {
                    var base = window.location.href.replace(/#.*$/, '');
                    $('ul>li>a[href^="#"]', this).each(function () {
                        var href = $(this).attr('href');
                        $(this).attr('href', base + href);
                    });
                    $(this).__tabs(a, b, c, d, e, f);
                };
                $("#tabs").tabs()@Html.Raw(selectSentTab);
            });
        </script>
        <div class="tabs inbox-tabs" id="tabs">
            <ul class="nav nav-tabs tabs-header" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="#tabs-1" role="tab" data-toggle="tab">@T("PrivateMessages.Inbox")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tabs-2" role="tab" data-toggle="tab">@T("PrivateMessages.SentItems")</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane in active tab-content" id="tabs-1">
                    @await Component.InvokeAsync(typeof(PrivateMessagesInboxViewComponent), new { pageNumber = Model.InboxPage, tab = "inbox" })
                </div>
                <div role="tabpanel" class="tab-pane tab-content" id="tabs-2">
                    @await Component.InvokeAsync(typeof(PrivateMessagesSentItemsViewComponent), new { pageNumber = Model.SentItemsPage, tab = "sent" })
                </div>
            </div>
        </div>
    </div>
</div>
