@model PasswordRecoveryModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}

@*page title*@
@section Breadcrumb
{
    <div class="page-title">
        <div class="container">
            <div class="content">
                <h1>@T("Account.PasswordRecovery")</h1>
            </div>
        </div>
    </div>
}

<div class="page password-recovery-page">
    <div class="page-body">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto">
                <p>@T("Account.PasswordRecovery.Tooltip")</p>
                <form asp-route="PasswordRecovery" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="form-group">
                                <div class="row">
                                    <label asp-for="Email" asp-postfix=":" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-form-label"></label>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <input asp-for="Email" class="email form-control" placeholder="Email" />
                                        <nop-required />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="form-group">
                                    <div class="row">
                                        <div class="captcha-box col-12 offset-lg-1">
                                            <nop-captcha />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" name="send-email" class="button-1 btn btn-primary password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>