@model RegisterResultModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-registration-result-page");
}

@*page title*@
@section Breadcrumb
{
    <div class="page-title">
        <div class="container">
            <div class="content">
                <h1>@T("Account.Register")</h1>
            </div>
        </div>
    </div>
}

<div class="page registration-result-page">
    <div class="page-body">
        <div class="box-shadow-container">
            <div class="box-content">
                <div class="box-symbol"><i class="fal fa-thumbs-up"></i></div>
                <div class="box-title">@Model.Result</div>
                <a href="@Model.ReturnUrl" class="button-1 btn btn-primary register-continue-button box-button">@T("Common.Continue")</a>
            </div>
        </div>
    </div>
</div>